<div class="wrapper">
    <div class="main-content">
        <div class="checkbox-demo">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1"> Checkbox 1</label>
        </div>
        <div class="checkbox-demo">
            <input type="checkbox" id="checkbox2">
            <label for="checkbox2"> Checkbox 2</label>
        </div>
        <div class="checkbox-demo">
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3"> Checkbox 3</label>
        </div>
        <div class="checkbox-demo">
            <input type="checkbox" id="checkbox4">
            <label for="checkbox4"> Checkbox 4</label>
        </div>

    </div>
</div>