/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 0;
    // background-color: #232741;
}
